/*
 Theme Name:     Internal news.wsu.edu theme
 Theme URI:      https://news.wsu.edu
 Description:    A child theme for WSU's Spine Parent Theme
 Author:         WSU University Communications
 Author URI:     https://web.wsu.edu
 Template:       spine
 Version:        0.8.3
*/
