html {
	background-color: #f2f2f2;
}

main *,
main *:before,
main *:after {
	box-sizing: border-box;
}

main {
	padding-bottom: 5rem;
}

main section {
	background: #fff;
	padding-bottom: 2rem;
}

.single-post #binder .single .column.one {
	padding: 3rem 3rem 0;
}

.single-post .article-container {
	padding-bottom: 0;
}

.single-post .article-container article {
	width: 70%;
}

.single-post .article-header {
	margin-bottom: 4rem;
}

.single .main-header {
	display: none;
}

article header time,
article header cite,
figure img,
.single-post .featured-image img,
.article-footer dt {
	display: block;
}

.social-share-bar,
.social-share-bar ul,
.social-share-bar li,
.social-share-bar li a {
	height: auto;
	line-height: normal;
	width: auto;
}

.social-share-bar {
	bottom: 0;
	margin-right: -3rem;
	position: absolute;
	right: -43%;
	text-align: right;
}

.social-share-bar div {
	display: inline-block;
	text-align: left;
}

.social-share-bar div > span {
	display: block;
	margin: 5px 3px;
}

.social-share-bar ul {
	background: #f2f2f2;
	display: inline-block;
	padding: 12px 20px;
}

.social-share-bar li {
	margin-left: 16px;
}

.social-share-bar li:first-of-type {
	margin-left: 0;
}

.single-post .article-body {
	position: relative;
	margin-bottom: 5rem;
}

.single-post .row .column.one .featured-image {
	box-sizing: border-box;
	float: right;
	margin-bottom: 2rem;
	margin-right: calc(-43% - 3rem);
	max-width: 594px;
	padding: 0 3rem;
	width: 50vw;
}

figure.alignright,
figure.alignleft,
figure.aligncenter,
figure.alignnone {
	background: #f9f9f9;
	border-radius: 12px;
	box-sizing: border-box;
	float: left;
	margin: 0 1em 1em 0;
	padding: 12px;
}

.single-post .article-body p:last-of-type:after {
	background: #a60f2d;
	content: "";
	display: inline-block;
	height: 15px;
	margin-left: .5em;
	width: 15px;
	vertical-align: middle;
}

.single-post .article-footer {
	background: #f2f2f2;
	border: none;
	margin-left: -3rem;
	padding: 3rem;
	width: 100vw;
}

.article-footer dd {
	padding-bottom: .75rem;
}

.article-footer dl dt:after {
	content: none;
}

.social-media-icons {
	display: none;
}

.hentry figure > a {
	border-bottom: none;
	display: block;
	position: relative;
}

/* --- Content syndicate cards --- */

/* CSS Grid fallback */
.content-syndicate-wrapper > * {
	display: inline-block;
}

/* CSS Grid */
.content-syndicate-wrapper {
	columns: 225px 4;
	column-gap: 2rem;
}

/* - allow aligning elements within an item - */
.content-syndicate-item {
	border-bottom: .25rem solid rgba(0, 0, 0, .05);
	column-span: none;
	margin-bottom: 1rem;
	padding-bottom: .25rem;
}

.content-item-image {
	margin: .35rem 0 1rem;
}

.content-item-byline-date {
	margin-bottom: .5rem;
}

.content-item-categories {
	margin-bottom: 1rem;
}

.content-item-title {
	margin-bottom: .5rem;
}

/* Home top featured item */
.news-features .content-syndicate-wrapper,
.news-features .content-syndicate-item {
	display: block;
}

.news-features .content-syndicate-wrapper {
	columns: auto;
}

.news-features .content-syndicate-item {
	border: none;
}

.news-features .content-item-image {
	float: right;
	padding-left: 1rem;
	width: 50%;
}

.news-features .content-item-image img {
	width: 100%;
}

.news-features .content-item-title,
.news-features .content-item-categories,
.news-features .content-item-byline,
.news-features .content-item-excerpt {
	display: block;
	padding-right: 1rem;
	width: 50%;
}

.news-features .content-item-excerpt {
	font-size: 18px;
}

.news-features .content-item-title {
	line-height: 1.05;
}

.hentry .news-features .content-item-title a:after {
	background-size: 45%;
}

@media screen and (max-width: 700px) {

	.news-features .content-item-title,
	.news-features .content-item-categories,
	.news-features .content-item-byline,
	.news-features .content-item-excerpt,
	.news-features .content-item-image {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
		float: none;
	}

	.single main section.primary-categories {
		padding-bottom: 0;
	}

	.featured-image figcaption {
		margin-left: 1.5rem;
	}
}

/* --- home page --- */
.home .main-header {
	display: none;
}

.home .top-head {
	padding-top: 5rem;
}

/* Bottom section divider */
main .bottom-divider {
	padding-bottom: 0;
}

#binder main .bottom-divider:after {
	border-bottom: 20px solid #f2f2f2;
	content: "";
	height: 20px;
	margin-left: 2rem;
	padding-top: 2rem;
	visibility: visible;
	width: calc(100% - 2rem);
}

@media screen and (min-width: 990px) and (max-width: 1386px) {

	.single-post .row .column.one .featured-image {
		width: calc(50vw - 99px);
	}
}

@media screen and (max-width: 693px) {

	.single-post .article-container article {
		width: 100%;
	}

	.social-share-bar {
		right: 0;
		position: relative;
	}

	.single-post .row .column.one .featured-image {
		float: none;
		margin-left: -3rem;
		max-width: none;
		padding: 0;
		width: 100vw;
	}
}

@media screen and (min-width: 990px) {

	main {
		border-left: 20px solid #f2f2f2;
	}

	.single-post .article-footer {
		width: calc(100vw - 198px - 20px); /* 100vw - Spine width - <main> left border width */
		max-width: 1168px;
	}
}
