html {
	background-color: #f2f2f2;
}

main section {
	background: #fff;
}

.single-post .article-header {
	margin-bottom: 4rem;
}

article header time,
article header cite,
figure img,
.single-post .featured-image img,
.article-footer dt {
	display: block;
}

.social-share-bar,
.social-share-bar ul,
.social-share-bar li,
.social-share-bar li a {
	height: auto;
	line-height: normal;
	width: auto;
}

.social-share-bar {
	bottom: 0;
	display: inline-block;
	right: calc(-50% - 2rem - 3px);
	position: absolute;
}

.social-share-bar span {
	display: block;
	margin: 5px 3px;
	text-align: left;
}

.social-share-bar ul {
	background: #f2f2f2;
	display: inline-block;
	padding: 1rem;
}

.social-share-bar li:first-of-type {
	margin-left: 0;
}

.single-post .article-body {
	position: relative;
	margin-bottom: 5rem;
}

.single-post .row .column.one .featured-image {
	box-sizing: border-box;
	float: right;
	margin-bottom: 2rem;
	margin-right: calc(-2rem - 50%);
	max-width: 594px;
	padding: 0 2rem;
	width: 50vw;
}

figure.alignright,
figure.alignleft,
figure.aligncenter,
figure.alignnone {
	background: #f9f9f9;
	border-radius: 12px;
	box-sizing: border-box;
	float: left;
	margin: 0 1em 1em 0;
	padding: 12px;
}

.single-post .article-body p:last-of-type:after {
	background: #a60f2d;
	content: "";
	display: inline-block;
	height: 15px;
	margin-left: .5em;
	width: 15px;
	vertical-align: middle;
}

.article-footer {
	background: #f2f2f2;
	border: none;
	margin: 0 0 0 -2rem;
	padding: 3rem 2rem;
	width: 150.25%;
}

.article-footer dd {
	padding-bottom: .75rem;
}

@media screen and (min-width: 990px) and (max-width: 1386px) {

	.single-post .row .column.one .featured-image {
		width: calc(50vw - 99px);
	}
}

@media screen and (max-width: 693px) {

	.single-post .article-header {
		text-align: right;
	}

	.single-post .article-header hgroup {
		text-align: left;
	}

	.social-share-bar {
		right: -2rem;
		position: relative;
	}

	.single-post .row .column.one .featured-image {
		float: none;
		margin-left: -2rem;
		margin-right: -2rem;
		max-width: none;
		padding: 0;
		width: 100vw;
	}
}

@media screen and (min-width: 990px) {

	main {
		border-left: 20px solid #f2f2f2;
	}
}
