html {
	background-color: #f2f2f2;
}

/* - home main mark - */
#wsu-insider-coug-head-mark {
	margin-top: -1rem;
}

.site-header {
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	margin-left: 198px;
	padding: 2rem;
}

.site-title {
	background-image: url(images/wsu-insider-mark.svg);
	background-repeat: no-repeat;
	display: block;
	height: 3.5rem;
	width: 300px;
	position: relative;
	text-indent: -9999px;
}

.page-header {
	background-color: #fff;
	padding: 4rem 2rem 2rem;
}

main *,
main *:before,
main *:after {
	box-sizing: border-box;
}

main {
	padding-bottom: 5rem;
}

main section {
	background: #fff;
	padding-bottom: 2rem;
}

main section.bg-none {
	background: none;
	margin: 1rem 0;
}

.single-post #binder .single .column.one {
	padding: 3rem 3rem 0;
}

.single-post .article-container {
	padding-bottom: 0;
}

.single-post .article-container article {
	width: 70%;
}

.single-post .article-header {
	margin-bottom: 4rem;
}

article header time,
article header cite,
figure img,
.single-post .featured-image img,
.article-footer dt {
	display: block;
}

.social-share-bar,
.social-share-bar ul,
.social-share-bar li,
.social-share-bar li a {
	height: auto;
	line-height: normal;
	width: auto;
}

.social-share-bar {
	bottom: 0;
	margin-right: -3rem;
	position: absolute;
	right: -43%;
	text-align: right;
}

.social-share-bar div {
	display: inline-block;
	text-align: left;
}

.social-share-bar div > span {
	display: block;
	margin: 5px 3px;
}

.social-share-bar ul {
	background: #f2f2f2;
	display: inline-block;
	padding: 12px 20px;
}

.social-share-bar li {
	margin-left: 16px;
}

.social-share-bar li:first-of-type {
	margin-left: 0;
}

.single-post .article-body {
	position: relative;
	margin-bottom: 5rem;
}

.single-post .row .column.one .featured-image {
	box-sizing: border-box;
	float: right;
	margin-bottom: 2rem;
	margin-right: calc(-43% - 3rem);
	max-width: 594px;
	padding: 0 3rem;
	width: 50vw;
}

figure.alignright,
figure.alignleft,
figure.aligncenter,
figure.alignnone {
	background: #f9f9f9;
	border-radius: 12px;
	box-sizing: border-box;
	float: left;
	margin: 0 1em 1em 0;
	padding: 12px;
}

.single-post .article-body p:last-of-type:after {
	background: #a60f2d;
	content: "";
	display: inline-block;
	height: 15px;
	margin-left: .5em;
	width: 15px;
	vertical-align: middle;
}

.single-post .article-footer {
	background: #f2f2f2;
	border: none;
	margin-left: -3rem;
	padding: 3rem;
	width: 100vw;
}

.article-footer dd {
	padding-bottom: .75rem;
}

.article-footer dl dt:after {
	content: none;
}

.social-media-icons {
	display: none;
}

main figure > a {
	border-bottom: none;
	display: block;
	position: relative;
}

/* --- Content syndicate cards --- */

/* CSS Grid fallback */
.deck > * {
	display: inline-block;
}

/* CSS Grid */
.deck {
	display: grid;
	columns: auto;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-column-gap: 2rem;
}

/* - allow aligning elements within an item - */
.card {
	column-span: none;
	margin-bottom: 1rem;
	padding-bottom: .25rem;
}

.card-image {
	margin: .35rem 0 1rem;
}

.card-date {
	margin-bottom: .5rem;
}

.card-categories {
	margin-bottom: 1rem;
}

.card-title {
	margin-bottom: .5rem;
}

/* featured item */
.deck--featured .card {
	grid-column-start: 1;
	grid-column-end: -1;
}

.deck--featured .card figure {
	float: right;
	padding-left: 1rem;
	width: 50%;
}

.deck--featured .card figure img {
	width: 100%;
}

.deck--featured .card .card-title,
.deck--featured .card .card-categories,
.deck--featured .card .card-excerpt {
	display: block;
	padding-right: 1rem;
	width: 50%;
}

.deck--featured .card .card-excerpt {
	font-size: 18px;
}

.deck--featured .card .card-title {
	line-height: 1.05;
}

main .deck--featured .card .card-title a:after {
	background-size: 45%;
}

/* --- multi deck --- */
#binder .row.news-features .column.multi-deck {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas: "feature cheat" "news cheat";
	grid-template-columns: 66% 34%;
}

.card--features {
	grid-area: feature;
}

.deck.deck--wsu-news {
	grid-area: news;
}

@media screen and (max-width: 700px) {

	.deck--featured .card:first-child .card-title,
	.deck--featured .card:first-child .card-categories,
	.deck--featured .card:first-child .card-excerpt,
	.deck--featured .card:first-child .card-image {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
		float: none;
	}

	.single main section.primary-categories {
		padding-bottom: 0;
	}

	.featured-image figcaption {
		margin-left: 1.5rem;
	}
}

/* --- river layout --- */
.deck--list {
	display: block;
	max-width: 778px;
}

.deck--list .card {
	position: relative;
	margin-bottom: 1.5rem;
	padding-bottom: 1.2rem;
}

.deck--list .card:after {
	content: "";
	background: #f2f2f2;
	height: .33rem;
	width: 100%;
	max-width: 584px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* --- deck with a header --- */
.deck-header {
	grid-column-start: 1;
	grid-column-end: -1;
	margin: 3rem 0 1.5rem;
}

/* --- deck--numbered-list --- */
.deck--numbered-list {
	display: block;
	border-left: 1px solid rgba(0, 0, 0, .1);
	grid-area: cheat;
	padding: 0 2rem 0 1.5rem;
}

.deck--numbered-list .deck-header {
	margin: 0 0 3rem;
}

.deck--numbered-list .card--news {
	position: relative;
}

@media screen and (max-width: 693px) {

	#binder .row.news-features .column.multi-deck {
		display: block;
	}

	.deck.deck--numbered-list {
		background: #f2f2f2;
		border: none;
		margin: 0 -2rem;
		padding: 2rem;
	}

	.news-features .deck-features article:nth-child(3) {
		display: none;
	}
}

/* --- home page --- */
.home .top-head {
	padding-top: 3.5rem;
}

.deck--featured {
	padding-top: 2rem;
}

.bg-none #mc_embed_signup {
	background: none;
	text-align: center;
}

#mc_embed_signup form {
	margin-top: -.5rem;
	padding: 0 0 0 2rem;
}

#mc_embed_signup_scroll input[type="submit"] {
	margin-left: 10px;
}

/* Bottom section divider */
main .bottom-divider {
	padding-bottom: 0;
}

#binder main .bottom-divider:after {
	border-bottom: 20px solid #f2f2f2;
	content: "";
	height: 20px;
	margin-left: 2rem;
	padding-top: 2rem;
	visibility: visible;
	width: calc(100% - 2rem);
}

@media screen and (min-width: 990px) and (max-width: 1386px) {

	.single-post .row .column.one .featured-image {
		width: calc(50vw - 99px);
	}
}

@media screen and (max-width: 693px) {

	.single-post .article-container article {
		width: 100%;
	}

	.social-share-bar {
		right: 0;
		position: relative;
	}

	.single-post .row .column.one .featured-image {
		float: none;
		margin-left: -3rem;
		max-width: none;
		padding: 0;
		width: 100vw;
	}

	#mc_embed_signup form {
		margin-top: 1rem;
		padding: 0;
	}
}

@media screen and (max-width: 989px) {

	.site-header {
		margin-top: 50px;
		margin-left: 0;
	}

	#binder.fluid main {
		margin-top: 0;
	}

	.home #binder.fluid main {
		margin-top: 50px;
	}

	.page-header {
		padding: 2rem;
	}
}

@media screen and (min-width: 990px) {

	.site-header,
	main {
		border-left: 20px solid #f2f2f2;
	}

	.single-post .article-footer {
		width: calc(100vw - 198px - 20px); /* 100vw - Spine width - <main> left border width */
		max-width: 1168px;
	}
}

/* --- river - vertical list of cards --- */
