main {
	color: #191919;
	font: 300 18px/28px "Source Sans Pro", sans-serif;
}

main a {
	border-bottom: 1px solid #da1e00;
	color: #191919;
	font-weight: 400;
	transition: color .3s ease;
}

main a:hover {
	color: #da1e00;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title,
.card-title a {
	font-weight: 900;
}

h3,
h5 {
	text-transform: uppercase;
}

h1 {
	font-size: 72px;
}

h2,
.deck--featured .card:first-child .card-title {
	font-size: 40px;
}

header h2 {
	margin-bottom: 2rem;
}

h3,
.card-title {
	font-size: 25px;
}

h4 {
	font-size: 23px;
}

h5,
h6 {
	font-size: 18px;
}

@media screen and (max-width: 700px) {

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}

.sub-call {
	font-size: inherit;
	margin-top: .5rem;
}

figcaption {
	color: #717171;
	font-size: .7em;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: normal;
	padding: .75rem 1rem .75rem 1.4rem;
}

.primary-categories ul {
	list-style: none;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	text-transform: uppercase;
}

.primary-categories a {
	color: #da1e00;
	border: none;
}

.primary-categories a:hover {
	border-bottom: 1px solid #da1e00;
}

.article-header hgroup.source {
	color: #191919;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	text-transform: none;
}

.social-share-bar span {
	color: #da1e00;
	font-size: 16.5px;
	font-weight: 400;
}

.social-share-bar a {
	border-bottom: none;
}

.article-footer dl {
	color: #191919;
	font-size: 14px;
	line-height: normal;
}

.article-footer a {
	border-bottom: none;
}

main a.button,
main a.button:focus,
main button,
main input[type="button"],
main input[type="reset"],
main input[type="submit"] {
	background: none;
	border: 1px solid;
	border-radius: 4px;
	color: #ca1237;
	margin-top: 1.5rem;
	padding: .75rem 1.5rem;
	text-transform: uppercase;
	transition: all .3s ease;
}

main a.button:hover,
main button:hover,
main input[type="button"]:hover,
main input[type="reset"]:hover,
main input[type="submit"]:hover {
	background: #ca1237;
	border: 1px solid #ca1237;
	color: #fff;
}

main input[type="email"],
main input[type="password"],
main input[type="text"],
main select,
main textarea {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: 0;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	min-height: 40px;
	background: #fff;
	appearance: none;
	box-shadow: none;
	text-indent: 10px;
}

/* - MailChimp embed - */
#mc_embed_signup_scroll label {
	display: block;
	font-size: 1rem;
	margin-bottom: .5rem;
}

input#mce-EMAIL {
	display: inline-block;
	min-width: 250px;
}

#mc_embed_signup_scroll input[type="submit"] {
	margin: 0 0 0 10px;
	height: 40px;
}

@media screen and (min-width: 990px) and (max-width: 1126px) {

	#mc_embed_signup_scroll input[type="submit"] {
		margin: 5px 0 0;
		width: 250px;
	}
}

@media screen and (min-width: 694px) and (max-width: 910px) {

	#mc_embed_signup_scroll input[type="submit"] {
		margin: 5px 0 0;
		width: 250px;
	}
}

@media screen and (max-width: 480px) {

	input#mce-EMAIL {
		width: 100%;
	}

	#mc_embed_signup_scroll input[type="submit"] {
		margin: 5px 0 0;
		width: 100%;
	}
}

/* --- Content syndicate cards --- */
main .card-categories {
	color: #da1e00;
	display: block;
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.25;
	text-transform: uppercase;
}

main .card-title a {
	border-color: transparent;
	transition: all .3s ease;
}

main .card-title a:hover {
	color: #ca1237;
	border-color: currentColor;
}

.card-date,
.card-excerpt {
	display: block;
	font-size: .9rem;
	line-height: 1.5;
}

.card-excerpt {
	font-size: 1rem;
	font-weight: 400;
}

/* --- home page styles --- */
.home .home-head {
	font-size: 7rem;
	line-height: .85;
	padding-bottom: 5rem;
	text-transform: uppercase;
}

.top-head .two {
	font-size: .9em;
}

.top-head p {
	line-height: 1.5;
}

.head-beta {
	color: #767676;
	display: block;
	font-size: .5em;
}
