main {
	color: #191919;
	font: 400 18px/28px "Source Sans Pro", sans-serif;
}

main a {
	border-bottom: 1px solid #da1e00;
	color: #191919;
	font-weight: 600;
	text-decoration: none;
	transition: color .3s ease;
}

main a:hover {
	color: #da1e00;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title,
.card-title a {
	font-weight: 900;
}

h3,
h5 {
	text-transform: uppercase;
}

h1 {
	font-size: 2.8rem;
	line-height: 1.1;
}

.category h1,
.post-type-archive-wsu_announcement h1 {
	font-size: 4.5rem;
	line-height: 1;
	padding-bottom: 0;
}

h2,
.deck--featured .card:first-child .card-title {
	font-size: 2rem;
	line-height: 1.1;
}

header h2 {
	margin-bottom: 2rem;
}

article h2 {
	font-size: 23px;
}

h3,
.card-title {
	font-size: 1.2em;
}

h4 {
	font-size: 23px;
}

h5,
h6 {
	font-size: 18px;
}

strong,
b {
	font-weight: 600;
}

@media screen and (max-width: 700px) {

	.post-type-archive-wsu_announcement h1 {
		font-size: 11vw;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2,
	.deck--featured .card:first-child .card-title {
		font-size: 1.8rem;
	}

	h3,
	.card-title {
		font-size: 1.4rem;
	}
}

.insider-description {
	color: #767676;
	font-size: .9em;
}

.sub-call {
	font-size: inherit;
	margin-top: .5rem;
}

figcaption {
	color: #717171;
	font-size: .7em;
	font-style: italic;
	letter-spacing: .02em;
	line-height: normal;
	padding: .75rem 1rem .75rem 1.4rem;
}

.primary-categories ul {
	list-style: none;
	font-size: 15px;
	padding: 0;
	text-transform: uppercase;
}

.primary-categories a {
	color: #da1e00;
	border: none;
	font-weight: 400;
}

.primary-categories a:hover {
	border-bottom: 1px solid #da1e00;
}

.article-header hgroup.source {
	color: #191919;
	font-size: 14px;
	padding: 0;
	text-transform: none;
}

.card-share {
	font-size: 16px;
}

.card-share p {
	color: #da1e00;
	font-size: .93em;
	line-height: 1.5;
	padding: 0 .2em .2em;
}

.card-share a {
	background: #f2f2f2;
	border-bottom: none;
	float: left;
	line-height: 0;
	padding: .75em;
}

.article-footer .card-share a:hover {
	border-bottom: none;
}

.card-share a:hover use,
.card-share a:focus use {
	fill: #da1e00;
}

.article-footer dl {
	color: #191919;
	font-size: 14px;
	line-height: normal;
}

.article-footer a {
	border-bottom: none;
	color: #686868;
	font-weight: 400;
}

.article-footer a:hover {
	border-bottom: 1px solid;
}

main a.button,
main a.button:focus,
main button,
main input[type="button"],
main input[type="reset"],
main input[type="submit"] {
	background: none;
	border: 1px solid;
	border-radius: 4px;
	color: #ca1237;
	margin-top: 1.5rem;
	padding: .75rem 1.5rem;
	text-transform: uppercase;
	transition: all .3s ease;
}

main a.button:hover,
main a.button:focus,
main button:hover,
main button:focus,
main input[type="button"]:hover,
main input[type="button"]:focus,
main input[type="reset"]:hover,
main input[type="reset"]:focus,
main input[type="submit"]:hover,
main input[type="submit"]:focus {
	background: #ca1237;
	border: 1px solid #ca1237;
	color: #fff;
}

main .mce-toolbar .mce-btn button:hover {
	background: none;
	border: none;
}

main input[type="email"],
main input[type="password"],
main input[type="text"],
main select,
main textarea {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: 0;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	min-height: 40px;
	background: #fff;
	appearance: none;
	box-shadow: none;
	text-indent: 10px;
}

/* --- Good to know --- */
.deck--numbered-list {
	counter-reset: sheet-count;
}

.deck--numbered-list .deck-header {
	color: #be000f;
	font-size: 2rem;
	font-style: italic;
	font-weight: 900;
}

.deck--numbered-list .card-title,
.deck--numbered-list .card-title a {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.25;
}

.deck--numbered-list article {
	padding-left: 3.5rem;
	margin-bottom: 2rem;
}

.deck--numbered-list .card-title a:before {
	counter-increment: sheet-count;
	content: counter(sheet-count);
	position: absolute;
	left: 0;
	height: 2.5rem;
	width: 2.5rem;
	background: #820c23;
	border-radius: 2rem;
	text-align: center;
	top: -.4rem;
	color: #fff;
	font-weight: 900;
	font-size: 1.5rem;
	padding-top: .3rem;
}

.deck--numbered-list article:nth-child(3) .card-title a:before {
	background: #a60f2d;
}

.deck--numbered-list article:nth-child(8) .card-title a:before,
.deck--numbered-list article:nth-child(4) .card-title a:before {
	background: #be000f;
}

.deck--numbered-list article:nth-child(7) .card-title a:before,
.deck--numbered-list article:nth-child(5) .card-title a:before {
	background: #da1e00;
}

.deck--numbered-list article:nth-child(6) .card-title a:before {
	background: #f95735;
}

/* - MailChimp embed - */
#mc_embed_signup_scroll label {
	font-size: 1.2rem;
	line-height: 1.25;
	margin: 0 1rem 0 0;
}

input#mce-EMAIL {
	display: inline-block;
	min-width: 250px;
	vertical-align: bottom;
}

@media screen and (min-width: 990px) and (max-width: 1126px) {

	#mc_embed_signup_scroll input[type="submit"] {
		margin: 5px 0 0;
		width: 250px;
	}
}

@media screen and (max-width: 780px) {

	.card-share a {
		background-color: #fff;
	}

	#mc_embed_signup {
		text-align: center;
	}

	#mc_embed_signup_scroll {
		justify-content: center;
	}

	#mc_embed_signup_scroll label {
		flex: 1 100%;
		margin: 0 0 1rem;
	}
}

@media screen and (max-width: 480px) {

	input#mce-EMAIL {
		width: 100%;
	}

	#mc_embed_signup_scroll input[type="submit"] {
		margin: 5px 0 0;
		width: 100%;
	}
}

/* --- Content syndicate cards --- */
main .card-categories,
.card--event .card-date {
	color: #da1e00;
	display: block;
	font-size: .9rem;
	line-height: 1.25;
	text-transform: uppercase;
}

main .card-title a {
	border-color: transparent;
	transition: all .3s ease;
}

main .card-title a:hover {
	color: #ca1237;
	border-color: currentColor;
}

.card-date,
.card-excerpt {
	display: block;
	font-size: .9rem;
	line-height: 1.5;
}

.card-time {
	color: #767676;
	font-size: .9em;
	text-transform: none;
}

.card-excerpt {
	font-size: 1rem;
}

/* --- home page styles --- */
.home .home-head {
	font-size: 7rem;
	line-height: .85;
	padding-bottom: 5rem;
	text-transform: uppercase;
}

.top-head .two {
	font-size: .9em;
}

.top-head p {
	line-height: 1.5;
	margin-left: .25rem;
}

.head-beta {
	color: #767676;
	display: block;
	font-size: .5em;
}

.pagination a {
	border-bottom: none;
}

/* --- Homepage events feed --- */
.card--event .card-title {
	font-size: .9em;
	line-height: 1.35;
}

.card--event .card-title a {
	font-weight: 400;
}

/* --- archive descriptions --- */
.page-header .description {
	color: #da1e00;
	font-size: .8em;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/* --- site footer --- */
.site-footer nav .nav-group {
	margin-right: 2rem;
}

.site-footer nav .nav-group header {
	font-size: .8em;
	font-weight: 900;
}

.site-footer nav ul {
	font-size: .8em;
	padding: 0;
}

.site-footer nav a {
	border-color: rgba(255, 255, 255, .5);
	font-weight: 400;
}

.site-footer nav ul li:first-child {
	padding-bottom: .5rem;
}

.site-footer nav ul li:first-child a {
	border: none;
}
